---
---

@import "{{ site.theme }}";

#sidebar h2 {
  margin-bottom: 8px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 24px;
  font-weight: bold;
  color: #474747;
  text-indent: 4px;
}
#sidebar h2:before {
  padding-right: 0.3em;
  content: "/";
  color: #9ddcff;
}

#sidebar h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 20px;
  font-weight: bold;
  color: #474747;
  text-indent: 3px;
}

#sidebar h3:before {
  padding-right: 0.3em;
  content: "//";
  color: #9ddcff;
}

#sidebar .menu {
    font-size: 16px;
    margin-bottom: 10px;
    list-style: none;

    li {
        &:before {
            padding-right: 0.3em;
            content: "//";
            color: #9ddcff;
        }
    }
}